*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenedor{
    z-index: 100;
    background: #fff;
}

.imagen img{
    top: 0;
    left: 0;
    width: 150px;
    padding: 16px 20px 15px 20px;
    margin-left: 230px;
}


.contenedor-lista{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0;
    height: 30px;
    background-color: yellowgreen;
    justify-content: space-between;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.social li{
    width: 50%;
    display: flex;
    }

        